<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Modest.Executables.Mime.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Modest.Executables.Mime.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<Modest.Executables.Mime.Properties.Settings>
   <setting name="NeedsUpgrade" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="TabWidth" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="UIZoom" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="ShowLineNumbers" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AutoCloseBrackets" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowTrailingSpace" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SettingsLevel" serializeAs="String">
    <value>0</value>
   </setting>
  </Modest.Executables.Mime.Properties.Settings>
	</userSettings>
	<applicationSettings>
		<Modest.Executables.Mime.Properties.Settings>
   <setting name="UIMode" serializeAs="String">
    <value>Auto</value>
   </setting>
   <setting name="BrowserPath" serializeAs="String">
    <value/>
   </setting>
   <setting name="BrowserParameters" serializeAs="String">
    <value>--app={0}</value>
   </setting>
  </Modest.Executables.Mime.Properties.Settings>
	</applicationSettings>
	<runtime>
		<loadFromRemoteSources enabled="true"/>
		<gcAllowVeryLargeObjects enabled="true"/>
	</runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
